.wrapper{
    background-image: url( "../img/background.jpg" );
    background-repeat: repeat-x;
    background-size: 100%;
    height: 100%;
    padding-top: 40px;
}

.container{
    position: relative;
    width: 1000px;
    height: 990px;
    margin: 0 auto;
    background-color: white;
    border-bottom: 3px solid black;
    box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.75);
}

/*********************************************
    HEADER
**********************************************/

.logo{
    background-image: url( "../img/logo.png" );
    position: absolute;
    left: 30px;
    top: 21px;
    width: 283px;
    height: 164px;
}

p{
    position: absolute;
    left: 105px;
    top: 120px;
    font-size: 12px;
    font-family: "Tahoma";
    color: rgb(18, 138, 167);
    line-height: 1.2;
}

.ocean{
    background-image: url( "../img/ocean.png" );
    position: absolute;
    top:-29px;
    left: -88px;
    height: 450px;
    width: 1176px;
}

li{
    list-style: none;
}

.contacts{
    position: absolute;
    top: 10px;
    right: -45px;
    font-family: "Tahoma";
    font-size: 12px;
    text-align: left;
    line-height: 1.2;
    color: rgba(18, 138, 167, 0.8);
    padding: 0 80px 0 0;
}

#contact{
    font-weight: bold;
    margin-bottom: 10px;
}

 .country {
     position: absolute;
     top: 120px;
     right: 23px;
 }

.flag-link{
    color: rgba(18, 138, 167, 0.8);
}

 .country li{
     display: inline-block;
     text-align: center;
     font-size: 10px;
     font-family: "Tahoma";
     color: rgba(18, 138, 167, 0.8);
     width: 56px;
 }

/*********************************************
   NAVIGATION
**********************************************/

nav{
    position: absolute;
    top: 421px;
    background-color: #333333;
    height: 28px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.submenu{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

span{
   font-size: 10px;
 }

.menu a, .submenu a{
    font-size: 14px;
    font-family: "Tahoma";
    color: white;
    line-height: 1.2;
    text-align: center;
}

ul{
    display: block;
}

ul:after{
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li{
    float: left;
    position: relative;
}

ul.menu > li > a{
    display: block;
    line-height: 28px;
    padding: 0 10px;
    margin: 0 25px;
    color: white;
    text-decoration: none;
}

ul.menu > li > a:hover{
    background-color: #444444;
}

ul.submenu{
    display: none;
    position: absolute;
    width: 150px;
    top: 28px;
    left: 25px;
    border: 1px solid #333333;
    z-index: 1;
}

ul.submenu > li{
    display: block;
}

ul.submenu > li > a{
    display: block;
    padding: 10px;
    text-align: left;
    color: white;
    background-color: #333333;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    background-color: #444444;

}
ul.menu > li:hover > ul.submenu{
    display: block;
}

/*********************************************
   MAIN SECTION
**********************************************/

section{
    position: relative;
    top: 450px;
    font-size: 14px;
    font-family: "Tahoma";
    color: rgb(66, 76, 67);
    line-height: 1.714;
    text-align: center;
}

.fon1{
    width: 100%;
    background-color: #edeef0;
    float: left;
    position: relative;
    right: 58%;
}

.fon2{
    width: 100%;
    background-color: white;
    float: left;
    position: relative;
    right: 21%;
}

.fon3{
    position: relative;
    width: 100%;
    background-color: #edeef0;
    float: left;
    overflow: hidden;
}

.leftColumn{
    width: 21%;
    float: left;
    position: relative;
    left: 79%;
}

.centerColumn{
    width: 58%;
    float: left;
    position: relative;
    left: 79%;
}

.rightColumn {
    width: 21%;
    float: right;
    position:relative;
    left:79%;
}

.headers{
    display: block;
    font-size: 18px;
    font-family: "Tahoma";
    color: rgb(66, 76, 67);
    line-height: 1.2;
    font-weight: bold;
    padding: 10px 0;
}

.rightColumn, .leftColumn{
    padding: 10px 0;
}

/*********************************************
   FOOTER
**********************************************/

footer{
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-family: "Tahoma";
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    line-height: 30px;
}
